* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
font-size: 18px;
color: #fff;
font-weight: 500;
text-decoration: none;
margin-left: 40px;  
}

body {
  min-height: 100vh;
  background: url(../background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 100px;
  font-size: 28px; 
  color: #333;
  text-align: center; 
  text-transform: uppercase; /* Mettre le texte en majuscules */
  padding: 20px;
  border-radius: 8px;
}

p {
  margin-top: 20px;
  font-size: 18px; 
  color: #333;
  text-align: center; 
  padding: 20px;
  border-radius: 8px;
}


















